<div class="song-card">
  <div class="song-card-cover">
    <img src="https://i.scdn.co/image/ab67616d00001e023ffafc8e70cd83ec51433242" alt="" class="song-cover">
  </div>
  <div class="song-card-info">
    <div class="song-title">Test title</div>
    <div class="song-description">
      <span class="song-description-author">test test</span> •
      <span class="song-description-duration">05:10</span>
    </div>
    <div class="song-card-controls">
      <button type="button" appPlayerControll playerAction="play"></button>
    </div>
  </div>
</div>